<!-- 404 template -->

<div class="container">

	<section class="error">

	    <div class="row align-items-center" style="min-height: 82vh">

	        <div class="col-12 text-center">
			    <div class="huge">404</div>
	            <h1 class="section-title text-center mt-4 mb-2">Sorry, page not found.</h1>
				<a href="/" class="small"><i data-feather="chevron-left" class="small-feather"></i> Back to home</a>
	        </div>

	    </div>

	</section>

</div>
