<!-- Cart template -->
<div class="container">

    <section class="cart-page">

    	{% if cart.item_count > 0 and store.checkout_enabled == true %}

    	<div class="row">

    		<div class="col-12 text-center">

    			<h1 class="section-title">{{ title }}</h1>

    			{% if settings.options.cart_instruction %}

    				<p class="shipping-instruction">
    					{{ settings.options.cart_instruction }}
    				</p>

    			{% endif %}

    		</div>

            <div class="col-12">

                {% if cart_error_messages | length > 0  %}
                <div class="alert alert-danger">
    
                    <ul class="list-group mb-0">
                        {% for error_message in cart_error_messages %}
                            <li class="list-group-item border-0 bg-transparent p-0">{{ error_message }}</li>
                        {% endfor %}
                    </ul>
                    
                </div>
                {% endif %}

            </div>

    		<div class="col-12">

    			{%- set upsell_categories = settings.options.upsell_categories -%}
    			{% if categories[upsell_categories].products | length > 0 %}

    				{%- set cart_upsell = random(categories[upsell_categories].products) -%}
                <!-- Upsell form -->
    			    {{ form_open('cart/add', { method: 'post', id: 'cartupsell' }) }}
    				    <input type="hidden" name="id" value="{{ cart_upsell.variants[0].id }}">
    			    </form>
    		    <!-- ./Upsell form -->
    		    {% endif %}

    			{{ form_open('cart', { method: 'post' }) }}

    				<div class="table-responsive">

    					<table class="table cart-table table-sm">

    						<thead>
    							<tr>
    								<th colspan="2">Product</th>
    								<th class="text-center">Qty</th>
    								<th class="text-right">Total</th>
    							</tr>
    						</thead>

    						<tbody>

    						{% for item in cart.items %}

                                {% if item.is_bundle == true %}
                                    {% set totalBundleCompareAtPrice = 0 %}
                                    {% set totalBundleSavePrice = 0 %}
									{% set bundlesSavePrice = 0 %}
                                    {% for item_bundle in item.bundle_products %}
										{% set compareAtPrice = item_bundle.total_compare_at_price %}
										{% set bundlePrice = item_bundle.total %}
                                        {% set bundlesSavePrice = compareAtPrice - bundlePrice %}
										{% if bundlesSavePrice < 0 %}
											{% set bundlesSavePrice = 0 %}
										{% endif %}
                                        {% set totalBundleCompareAtPrice = compareAtPrice + totalBundleCompareAtPrice %}
                                        {% set totalBundleSavePrice = bundlesSavePrice + totalBundleSavePrice %}
                                    {% endfor %}
                                    <tr class="bundle-parent-row">

                                        <td>
                                            <a href="{{ item.product.url }}" title="{{ item.product.name | escape }}">

                                                {% if item.product.featured_image is not empty %}

                                                    <img class="cart-list-thumbs" src="{{ item.product.featured_image | product_image_size('small') }}" alt="{{ item.product.name | escape }}">

                                                {% else %}

                                                    <div class="empty-cart-list-thumbs">

                                                        {{ 'image' | placeholder_svg_tag }}

                                                    </div>

                                                {% endif %}

                                            </a>
                                        </td>

                                        <td>
                                            <a href="{{ item.product.url }}" title="{{ item.product.name | escape }}" class="cart-item">{{ item.product.name | escape }}</a>
                                            <p class="small mb-0 text-muted">{% if totalBundleCompareAtPrice > item.total %}Save {{ totalBundleSavePrice | money }} With These Bundle Items! 🔥{% else %}Grab This Amazing Bundle Now! 🔥{% endif %}</p>
                                            <a class="btn-delete-cart" href="/cart/change?line={{ loop.index }}&quantity=0" class="trash">Remove</a>
                                        </td>

                                        <td class="text-center">
                                            <div class="form-group">
                                            <input type="number" class="input form-control cart-quantity-form col-md-6 col-10" name="updates[]" value="{{ item.quantity }}" min="0">
                                            </div>
                                        </td>

                                        <td class="text-right">
                                            <p class="mb-0 text-muted {% if totalBundleCompareAtPrice < item.total %} d-none{% endif %}"><del>{{ totalBundleCompareAtPrice | money }}</del></p>
                                            <p class="mb-0">{{ item.total | money }}</p>
                                        </td>

                                    </tr>
                                    {% for item_bundle in item.bundle_products %}
										{% set totalCompareAtPrice = item_bundle.total_compare_at_price %}
										{% set totalBundlePrice = item_bundle.total %}
                                        {% set savePrice = totalCompareAtPrice - totalBundlePrice %}
										{% if savePrice < 0 %}
											{% set savePrice = 0 %}
										{% endif %}
                                        {% set totalSavePrice = savePrice + totalSavePrice %}
										{% if totalSavePrice < 0 %}
											{% set totalSavePrice = 0 %}
										{% endif %}
                                        <tr class="bundle-child-row">

                                            <td>
                                                <a href="{{ item_bundle.product.url }}" title="{{ item_bundle.product.name | escape }}">

                                                    {% if item_bundle.product.featured_image is not empty %}

                                                        <img class="cart-list-thumbs" src="{{ item_bundle.product.featured_image | product_image_size('small') }}" alt="{{ item_bundle.product.name | escape }}">

                                                    {% else %}

                                                        {% if item.product.featured_image is not empty %}

                                                            <img class="cart-list-thumbs" src="{{ item.product.featured_image | product_image_size('small') }}" alt="{{ item.product.name | escape }}">

                                                        {% else %}

                                                            <div class="empty-cart-list-thumbs">

                                                                {{ 'image' | placeholder_svg_tag }}

                                                            </div>

                                                        {% endif %}

                                                    {% endif %}

                                                </a>
                                            </td>

                                            <td>
                                                <a href="{{ item.product.url }}" title="{{ item.product.name | escape }}" class="cart-item text-muted">{{ item.product.name | escape }}</a> <i data-feather="arrow-right" class="small-feather"></i> <a href="{{ item_bundle.product.url }}" title="{{ item_bundle.product.name | escape }}" class="cart-item">{{ item_bundle.product.name | escape }}{% if item_bundle.name != "Default" %} / {{ item_bundle.name | escape }}{% endif %}</a>
												{% for item_bundle_option in item_bundle.options %}{% if item_bundle_option.name != "Default" %}<p class="small mb-0 text-muted">{{ item_bundle_option.name | escape }} : {{ item_bundle_option.value }}</p>{% endif %}{% endfor %}
                                            </td>

                                            <td class="text-center">
                                                <p class="text-muted mb-0">{{ item_bundle.quantity }}x</p>
                                            </td>

                                            <td class="text-right text-muted">
                                                <p class="mb-0 text-muted{% if savePrice ==  0 %} d-none{% endif %}"><del>{{ totalCompareAtPrice | money }}</del></p>
                                                <p class="mb-0">{{ item_bundle.total | money }}</p>
                                                <p class="small text-success mb-0{% if savePrice == 0 %} d-none{% endif %}">Save {{ savePrice | money }}</p>
                                            </td>

                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>

                                        <td>
                                            <a href="{{ item.product.url }}" title="{{ item.product.name | escape }}">

                                                {% if item.product.featured_image is not empty %}

                                                    <img class="cart-list-thumbs" src="{{ item.product.featured_image | product_image_size('small') }}" alt="{{ item.product.name | escape }}">

                                                {% else %}

                                                    <div class="empty-cart-list-thumbs">

                                                        {{ 'image' | placeholder_svg_tag }}

                                                    </div>

                                                {% endif %}

                                            </a>
                                        </td>

                                        <td>
                                            <a href="{{ item.product.url }}" title="{{ item.product.name | escape }}" class="cart-item d-block">{{ item.product.name | escape }}{% if item.name != "Default" %} / {{ item.name }}{% endif %}</a>
											{% for item_option in item.options %}{% if item_option.name != "Default" %}<p class="small mb-0 text-muted">{{ item_option.name | escape }} : {{ item_option.value }}</p>{% endif %}{% endfor %}
                                            <a class="btn-delete-cart" href="/cart/change?line={{ loop.index }}&quantity=0" class="trash">Remove</a>
                                        </td>

                                        <td class="text-center">
                                            <div class="form-group">
                                            <input type="number" class="input form-control cart-quantity-form col-md-6 col-10" name="updates[]" value="{{ item.quantity }}" min="0">
                                            </div>
                                        </td>

                                        <td class="text-right">{{ item.total | money }}</td>

                                    </tr>
                                {% endif %}
    						{% endfor %}

    						</tbody>

    						<tfoot>
    							<tr>

    							</tr>
    						</tfoot>

    					</table>

    				</div>

    				<div class="row">

    					<div class="col-12">

    						<hr class="hr-separator mt-0 mb-2">

    					</div>

    					<!-- Upsell product -->

    					{% if cart_upsell.available %}

    						{% if settings.options.upsell_product and settings.options.upsell_categories %}

    						<div class="col-12">
    							<div class="row justify-content-md-center">
    								<div class="col-md-6">
    									<div class="card upsell-section">
    										<div class="card-body">

    											{% if settings.options.upsell_headline %}

    												<h4>{{ settings.options.upsell_headline }}</h4>

    												<hr>

    											{% endif %}

    										    <div class="row">

    										    	<div class="col-4">

    													<a href="{{ cart_upsell.url }}" title="{{ cart_upsell.name | escape }}">

    													{% if cart_upsell.featured_image is not empty %}

    														<img class="img-thumbnail" width="100%" src="{{ cart_upsell.featured_image | product_image_size('small') }}">

    													{% else %}

    														<div>

    															{{ 'image' | placeholder_svg_tag }}

    														</div>

    													{% endif %}

    													</a>

    													<a href="{{ cart_upsell.url }}" title="{{ cart_upsell.name | escape }}" class="view-product-link">View product</a>
    												</div>

    												<div class="col-8">

    													<a href="{{ cart_upsell.url }}"><p class="upsell-title mb-0"><strong>{{ cart_upsell.name }}</strong></p></a>
    													<p class="upsell-price mb-2">{{ cart_upsell.price | money }}</p>
    													<button type="button" id="cart_upsell_btn" class="btn {{ settings.options.add_to_cart_button_type }} col-md-6 col-12"><i data-feather="shopping-cart" stroke-width="2" width="16" height="16"></i> Add to cart</button>

    												</div>
    											</div>

    										</div>
    									</div>
    								</div>
    				            </div>
    						</div>

    						{% endif %}

    					{% endif %}

    					<!-- ./Upsell product -->

    					<div class="col-md-6 d-none d-sm-block">
    						{% if settings.options.cart_extra_info %}
								<p>{{ settings.options.cart_extra_info }}</p>
    						{% else %}
    						<p>Order Notes</p>
							{% endif %}
    					</div>

    					<div class="col-md-6 col-12 text-right">

    						<p class="mb-0"><strong>Sub total : {{ cart.total_price | money }}</strong></p>
    						<p class="small">* Shipping will be calculated during checkout</p>

    					</div>

    				</div>

    				<div class="row">

    					<div class="col-12 col-md-5">

    						<hr class="hr-small d-md-none mt-0">

    						<div class="cart-info">
    							<div class="form-group">
    								{% if settings.options.cart_extra_info %}
    									<label class="cart-extra-info-mobile d-md-none mt-2">{{ settings.options.cart_extra_info }}</label>
    								{% else %}
    						<p class="d-md-none">Order Notes</p>
    								{% endif %}
    								<textarea class="form-control" rows="3" name="note">{{ cart.note }}</textarea>
    							</div>
    						</div>

    					</div>

    					{% if store.checkout_minimum_purchase > 0 %}

    						{%- set cart_minimum_value = store.checkout_minimum_purchase -%}
    						{%- set cart_total_value = cart.total_price -%}

    				    {% endif %}

    					<div class="col-12 col-md-7">

    						<div class="cart-action text-right">

    							<div class="row">
    								<div class="col-12 text-right">
                                        
                                        <button type="submit" name="update" class="btn btn-outline-secondary col-md-3 col-12">Update cart</button>

    									<a href="/" class="btn btn-outline-secondary col-md-4 col-12 continue-cart">Continue shopping</a>
    									
    								</div>
    							</div>
    							<div class="row">
    								<div class="col-12 text-right">
    									<div class="{% if settings.options.sticky_btn %}sticky-checkout{% else %}default-checkout{% endif %}">
    									<button type="submit" name="checkout" class="btn btn-dark col-md-6 col-12 checkout-cart" {% if cart_total_value < cart_minimum_value %}disabled{% endif %}>{% if cart_total_value < cart_minimum_value %}Minimum cart RM{{ cart_minimum_value }} required {% else %}Proceed to checkout {% endif %}<i data-feather="arrow-right" class="small-feather"></i></button>
    									</div>
    								</div>
    							</div>

    						</div>

    					</div>

    				</div>

    			</form>

    		</div>

    	</div>

    	{% else %}

        <div class="row align-items-center text-center" style="min-height:70vh">

            <div class="col-12">
                <h2>{% if store.checkout_enabled %}Your cart is empty{% else %}Checkout disabled{% endif %}</h2>
    			<a href="/" class="small"><i data-feather="chevron-left" class="small-feather"></i> Back to home</a>
            </div>

        </div>

    	{% endif %}

    </section>

</div>
<!-- ./Cart template -->