<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>

<meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <link rel="shortcut icon" href="{{ settings.images.favourite_icon }}" type="image/png" />
    {% if settings.options.custom_meta %}

	    <!-- Custom meta -->

		{{ settings.options.custom_meta }}

	{% endif %}

         {% if page.metafields.builder.fonts %}

	    {{ page.metafields.builder.fonts }}

	{% endif %}

    <title>{{ title }}</title>

    <meta name="description" content="{{ description }}">

    {{ css }}
    {{ head }}

    {%- set og_image_tag = '<meta property="og:image" content="' ~ settings.images.og_image ~ '">' -%}
    {%- set og_product_image_tag = '<meta property="og:image" content="' ~ product.featured_image ~ '">' -%}

    {%- set og_type = 'website' -%}
    {%- set og_title = title -%}
    {%- set og_url = page.url -%}
    {%- set og_description = description -%}

    <meta property="og:site_name" content="{{ store.name }}">
    <meta property="og:url" content="{{ og_url }}">
    <meta property="og:title" content="{{ og_title }}">
    <meta property="og:type" content="{{ og_type }}">
    <meta property="og:description" content="{{ og_description }}">
    {% if settings.images.og_image %}
        {%- if page.template in 'page' and page.image -%}
            <meta property="og:image" content="{{ page.image }}">
        {% elseif page.template in 'product' and product.featured_image is not empty %}
            {{ og_product_image_tag }}
        {% else %}
            {{ og_image_tag }}
        {% endif %}
    {% else %}
        {%- if page.template in 'page' and page.image -%}
            <meta property="og:image" content="{{ page.image }}">
        {% elseif page.template in 'product' and product.featured_image is not empty %}
            {{ og_product_image_tag }}
        {% endif %}
    {% endif %}

</head>

<body>

    <!-- Announcement bar -->

    {% if settings.options.announcement_text %}

        <div class="announcement-bar">

            <div class="container">

                <div class="row">

                    <div class="col-12 text-center">

                        <p class="small">

                            <span class="align-middle">{{ settings.options.announcement_text }}</span>

                            {% if settings.options.announcement_btn_text and settings.options.announcement_link %}

                            <a href="{{ settings.options.announcement_link }}" class="btn btn-dark align-middle">
                                {{ settings.options.announcement_btn_text }}
                            </a>

                            {% endif %}

                        </p>

                    </div>

                </div>

            </div>

        </div>

    {% endif %}

    <!-- /.Announcement bar -->

    <!-- Header -->

    {%- if page.template in 'pages' -%}

        {% if page.metafields.builder.json == true %}

            {% if settings.options.page_builder_header_type %}

                <section class="header{% if settings.images.header_logo is empty %} header-store-name{% endif %}">
                    <div class="container">
                        <nav class="navbar {% if attribute(menus, settings.options.main_menu_handle).links| length < 10 %}navbar-expand-lg{% endif %} navbar-light p-0">
                            <div class="d-flex flex-grow-1 align-items-center">
                                <div class="nav-collapse-icon {% if attribute(menus, settings.options.main_menu_handle).links| length < 10 %}d-lg-none{% else %} w-20  d-block{% endif %}">
                                    <button class="navbar-toggler custom-toggler collapsed" type="button" data-toggle="collapse" data-target="#myNavbar">
                                        <span class="line"></span>
                                        <span class="line"></span>
                                        <span class="line"></span>
                                    </button>
                                </div>
                                <div class="navbar-brand nav-logo-icon{% if attribute(menus, settings.options.main_menu_handle).links| length < 10 %} text-center{% else %} w-60 text-center pr-0{% endif %} mx-0">
                                    <a href="/" title="{{ store.name }}">
                                        {% if settings.images.header_logo is empty %}
                                            {{ store.name }}
                                        {% else %}
                                            <img style="max-width: {{ settings.options.logo_size }}" src="{{ settings.images.header_logo | product_image_size('medium') }}">
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="nav-search-cart-icon {% if attribute(menus, settings.options.main_menu_handle).links| length < 10 %}d-lg-none{% else %} d-block w-20 text-right{% endif %}">
                                    {% if settings.options.search_menu == true %}
                                    <a id="searchIconModalCollapse" class="search-icon-modal" title="Search" data-toggle="modal" data-target="#modalSearch" role="button">
                                        <div class="search d-inline-block">
                                            <i data-feather="search" class="nav-icons" height="20" width="20"></i>
                                        </div>
                                    </a>
                                    {% endif %}
                                    <a href="/cart" title="Cart">
                                        <div class="cart d-inline-block">
                                            <i data-feather="shopping-cart" class="nav-icons" height="20" width="20"></i>
                                            {% if cart.item_count > 0 and cart.item_count < 10 %}
                                                <div class="cart-badge">{{ cart.item_count }}</div>
                                            {% endif %}
                                            {% if cart.item_count > 10 %}
                                                <div class="cart-badge">9<sup>+</sup></div>
                                            {% endif %}
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="collapse navbar-collapse flex-grow-1 w-100{% if attribute(menus, settings.options.main_menu_handle).links| length > 10 %} padding-collapse{% endif %}" id="myNavbar">
                                <ul class="navbar-nav align-items-center flex-wrap {% if attribute(menus, settings.options.main_menu_handle).links| length < 10 %}{{ settings.options.main_menu_items_display }}{% else %} ml-0{% endif %}">
                                    {% if attribute(menus, settings.options.main_menu_handle) %}
                                        {% for index, link in attribute(menus, settings.options.main_menu_handle).links %}
                                            {%- set valid = true -%}
                                                {% if (link.url == '/account/logout' and customer == false) or (link.url == '/account/orders' and customer == false) or (link.url == '/account' and customer == false) or (link.url == '/account/login' and customer == true) %}
                                                    {%- set valid = false -%}
                                                {% endif %}
                                            {% if (valid) and link.links | length == 0 %}
                                                <li class="nav-item{% if link.active %} active{% endif %}">
                                                    <a class="nav-link" href="{{ link.url }}">
                                                        <span class="text-wrap w-100">{{ link.title }}</span>
                                                        {% if link.url == '/' %}
                                                            <span class="sr-only">(current)</span>
                                                        {% endif %}
                                                    </a>
                                                </li>
                                            {% elseif (valid) %}
                                                <li class="nav-item dropdown text-center dropdown-width">
                                                    <a class="nav-link dropdown-toggle dropdown-width" id="menu_{{index}}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="text-wrap w-100">{{ link.title }}</span>
                                                    </a>
                                                    <div class="dropdown-menu p-0{% if attribute(menus, settings.options.main_menu_handle).links| length > 10 %} py-md-0{% else %} py-md-3{% endif %} rounded-0 border-0 text-center dropdown-width font-weight-normal" aria-labelledby="menu_{{index}}">
                                                        {% for index2, subLink in link.links %}
                                                            {% if (valid) and subLink.links | length == 0 %}
                                                                <div class="dropdown-width px-4 px-md-0">
                                                                    <a class="nav-link py-2 px-2 pl-md-3 dropdown-width dropdown-align{% if attribute(menus, settings.options.main_menu_handle).links| length > 10 %} text-center{% endif %}" href="{{ subLink.url }}">{{ subLink.title }}</a>
                                                                </div>
                                                            {% elseif (valid) %}
                                                                <div class="submenu dropdown dropdown-submenu px-4 px-md-0 dropdown-width">
                                                                    <a class="nav-link dropdown-toggle py-2{% if attribute(menus, settings.options.main_menu_handle).links| length > 10 %} text-center{% endif %} px-2 pl-md-3 dropdown-width dropdown-align" id="menu2_{{index2}}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        {{ subLink.title }}
                                                                    </a>
                                                                    <div class="submenu dropdown-menu m-0 p-0 position-relative rounded-0 border-0 dropdown-width" aria-labelledby="menu2_{{index2}}">
                                                                        {% for sub2Link in subLink.links %}
                                                                            {% if (valid) %}
                                                                                <a class="nav-link dropdown-item py-2 px-4 dropdown-width dropdown-align{% if attribute(menus, settings.options.main_menu_handle).links| length > 10 %} text-center dropdown-align-left{% else %} text-left{% endif %}" href="{{ sub2Link.url }}">{{ sub2Link.title }}</a>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if settings.options.login_menu == true %}
                                        {% if customer == false %}
                                        <li class="nav-item d-lg-none">
                                            <a href="/account/login" title="Login" class="nav-link">
                                                <span class="text-wrap w-100">Log in</span>
                                            </a>
                                        </li>
                                        {% else %}
                                        <li class="nav-item d-lg-none">
                                            <a class="nav-link" href="/account">
                                                <span class="text-wrap w-100">Account</span>
                                            </a>
                                        </li>
                                        <li class="nav-item d-lg-none">
                                            <a class="nav-link" href="/account/orders">
                                                <span class="text-wrap w-100">Orders</span>
                                            </a>
                                        </li>
                                        <li class="nav-item d-lg-none">
                                            <a class="nav-link" href="/account/logout">
                                                <span class="text-wrap w-100">Logout</span>
                                            </a>
                                        </li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                                <div class="nav-search-cart-icon {% if attribute(menus, settings.options.main_menu_handle).links| length >= 10 %}d-none{% else %}d-none d-lg-flex{% endif %}">
                                    {% if settings.options.search_menu == true %}
                                    <a id="searchIconModal" class="nav-link" title="Search" data-toggle="modal" data-target="#modalSearch" role="button">
                                        <div class="search d-inline">
                                            <i data-feather="search" class="nav-icons" height="20" width="20"></i>
                                        </div>
                                    </a>
                                    {% endif %}
                                    {% if settings.options.login_menu == true %}
                                        {% if customer == false %}
                                        <a href="/account/login" class="nav-link d-none d-lg-block" title="Login">
                                            <div class="d-inline">
                                                <i data-feather="user" class="nav-icons" height="20" width="20"></i>
                                            </div>
                                        </a>
                                        {% else %}
                                            <div class="dropdown account-menu d-none d-lg-block">
                                                <a class="nav-link btn dropdown-toggle" href="#" role="button" id="dropdownAccountMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <div class="d-inline">
                                                        <i data-feather="user" class="nav-icons" height="20" width="20"></i>
                                                    </div>
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownAccountMenuButton">
                                                    <a class="dropdown-item" href="/account">Account</a>
                                                    <a class="dropdown-item" href="/account/orders">Orders</a>
                                                    <a class="dropdown-item" href="/account/logout">Logout</a>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                    <a href="/cart" title="Cart">
                                        <div class="cart">
                                            <i data-feather="shopping-cart" class="nav-icons" height="20" width="20"></i>
                                            {% if cart.item_count > 0 and cart.item_count < 10 %}
                                                <div class="cart-badge">{{ cart.item_count }}</div>
                                            {% endif %}
                                            {% if cart.item_count > 10 %}
                                                <div class="cart-badge">9<sup>+</sup></div>
                                            {% endif %}
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </section>
                <div class="modal pr-0" id="modalSearch" tabindex="-1" role="dialog" aria-labelledby="seachModalLabel" aria-hidden="true">
                    <div class="modal-dialog mw-100 my-0">
                        <div class="modal-content rounded-0">
                            <div class="modal-body search-modal-body">
                                <div class="input-group input-search-section">
                                    <div class="position-relative w-100">
                                        <input class="input-search-products form-control py-2" type="search" placeholder="Search" value="" id="products-search-input">
                                    </div>
                                    <div class="button-search py-1 px-2">
                                        <a href="" id="buttonSearch">
                                            <i data-feather="search" class="nav-icons" height="20" width="20"></i>
                                        </a>
                                    </div>
                                </div>
                                <button type="button" class="close pr-0 pl-2 pt-1 pr-md-2" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>                
                </div>
            {% endif %}
        {% else %}
            {% if settings.options.pages_header_type %}
                <section class="header{% if settings.images.header_logo is empty %} header-store-name{% endif %}">
                    <div class="container">
                        <nav class="navbar {% if attribute(menus, settings.options.main_menu_handle).links| length < 10 %}navbar-expand-lg{% endif %} navbar-light p-0">
                            <div class="d-flex flex-grow-1 align-items-center">
                                <div class="nav-collapse-icon {% if attribute(menus, settings.options.main_menu_handle).links| length < 10 %}d-lg-none{% else %} w-20  d-block{% endif %}">
                                    <button class="navbar-toggler custom-toggler collapsed" type="button" data-toggle="collapse" data-target="#myNavbar">
                                        <span class="line"></span>
                                        <span class="line"></span>
                                        <span class="line"></span>
                                    </button>
                                </div>
                                <div class="navbar-brand nav-logo-icon{% if attribute(menus, settings.options.main_menu_handle).links| length < 10 %} text-center{% else %} w-60 text-center pr-0{% endif %} mx-0">
                                    <a href="/" title="{{ store.name }}">
                                        {% if settings.images.header_logo is empty %}
                                            {{ store.name }}
                                        {% else %}
                                            <img style="max-width: {{ settings.options.logo_size }}" src="{{ settings.images.header_logo | product_image_size('medium') }}">
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="nav-search-cart-icon {% if attribute(menus, settings.options.main_menu_handle).links| length < 10 %}d-lg-none{% else %} d-block w-20 text-right{% endif %}">
                                    {% if settings.options.search_menu == true %}
                                    <a id="searchIconModalCollapse" class="search-icon-modal" title="Search" data-toggle="modal" data-target="#modalSearch" role="button">
                                        <div class="search d-inline-block">
                                            <i data-feather="search" class="nav-icons" height="20" width="20"></i>
                                        </div>
                                    </a>
                                    {% endif %}
                                    <a href="/cart" title="Cart">
                                        <div class="cart d-inline-block">
                                            <i data-feather="shopping-cart" class="nav-icons" height="20" width="20"></i>
                                            {% if cart.item_count > 0 and cart.item_count < 10 %}
                                                <div class="cart-badge">{{ cart.item_count }}</div>
                                            {% endif %}
                                            {% if cart.item_count > 10 %}
                                                <div class="cart-badge">9<sup>+</sup></div>
                                            {% endif %}
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="collapse navbar-collapse flex-grow-1 w-100{% if attribute(menus, settings.options.main_menu_handle).links| length > 10 %} padding-collapse{% endif %}" id="myNavbar">
                                <ul class="navbar-nav align-items-center flex-wrap {% if attribute(menus, settings.options.main_menu_handle).links| length < 10 %}{{ settings.options.main_menu_items_display }}{% else %} ml-0{% endif %}">
                                    {% if attribute(menus, settings.options.main_menu_handle) %}
                                    {% for index, link in attribute(menus, settings.options.main_menu_handle).links %}
                                        {%- set valid = true -%}
                                            {% if (link.url == '/account/logout' and customer == false) or (link.url == '/account/orders' and customer == false) or (link.url == '/account' and customer == false) or (link.url == '/account/login' and customer == true) %}
                                                {%- set valid = false -%}
                                            {% endif %}
                                        {% if (valid) and link.links | length == 0 %}
                                            <li class="nav-item{% if link.active %} active{% endif %}">
                                                <a class="nav-link" href="{{ link.url }}">
                                                    <span class="text-wrap w-100">{{ link.title }}</span>
                                                    {% if link.url == '/' %}
                                                        <span class="sr-only">(current)</span>
                                                    {% endif %}
                                                </a>
                                            </li>
                                        {% elseif (valid) %}
                                            <li class="nav-item dropdown text-center dropdown-width">
                                                <a class="nav-link dropdown-toggle dropdown-width" id="menu_{{index}}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="text-wrap w-100">{{ link.title }}</span>
                                                </a>
                                                <div class="dropdown-menu p-0{% if attribute(menus, settings.options.main_menu_handle).links| length > 10 %} py-md-0{% else %} py-md-3{% endif %} rounded-0 border-0 text-center dropdown-width font-weight-normal" aria-labelledby="menu_{{index}}">
                                                    {% for index2, subLink in link.links %}
                                                        {% if (valid) and subLink.links | length == 0 %}
                                                            <div class="dropdown-width px-4 px-md-0">
                                                                <a class="nav-link py-2 px-2 pl-md-3 dropdown-width dropdown-align{% if attribute(menus, settings.options.main_menu_handle).links| length > 10 %} text-center{% endif %}" href="{{ subLink.url }}">{{ subLink.title }}</a>
                                                            </div>
                                                        {% elseif (valid) %}
                                                            <div class="submenu dropdown dropdown-submenu px-4 px-md-0 dropdown-width">
                                                                <a class="nav-link dropdown-toggle py-2{% if attribute(menus, settings.options.main_menu_handle).links| length > 10 %} text-center{% endif %} px-2 pl-md-3 dropdown-width dropdown-align" id="menu2_{{index2}}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    {{ subLink.title }}
                                                                </a>
                                                                <div class="submenu dropdown-menu m-0 p-0 position-relative rounded-0 border-0 dropdown-width" aria-labelledby="menu2_{{index2}}">
                                                                    {% for sub2Link in subLink.links %}
                                                                        {% if (valid) %}
                                                                            <a class="nav-link dropdown-item py-2 px-4 dropdown-width dropdown-align{% if attribute(menus, settings.options.main_menu_handle).links| length > 10 %} text-center dropdown-align-left{% else %} text-left{% endif %}" href="{{ sub2Link.url }}">{{ sub2Link.title }}</a>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                    {% if settings.options.login_menu == true %}
                                        {% if customer == false %}
                                        <li class="nav-item d-lg-none">
                                            <a href="/account/login" title="Login" class="nav-link">
                                                <span class="text-wrap w-100">Log in</span>
                                            </a>
                                        </li>
                                        {% else %}
                                        <li class="nav-item d-lg-none">
                                            <a class="nav-link" href="/account">
                                                <span class="text-wrap w-100">Account</span>
                                            </a>
                                        </li>
                                        <li class="nav-item d-lg-none">
                                            <a class="nav-link" href="/account/orders">
                                                <span class="text-wrap w-100">Orders</span>
                                            </a>
                                        </li>
                                        <li class="nav-item d-lg-none">
                                            <a class="nav-link" href="/account/logout">
                                                <span class="text-wrap w-100">Logout</span>
                                            </a>
                                        </li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                                <div class="nav-search-cart-icon {% if attribute(menus, settings.options.main_menu_handle).links| length >= 10 %}d-none{% else %}d-none d-lg-flex{% endif %}">
                                    {% if settings.options.search_menu == true %}
                                    <a id="searchIconModal" class="nav-link" title="Search" data-toggle="modal" data-target="#modalSearch" role="button">
                                        <div class="search d-inline">
                                            <i data-feather="search" class="nav-icons" height="20" width="20"></i>
                                        </div>
                                    </a>
                                    {% endif %}
                                    {% if settings.options.login_menu == true %}
                                        {% if customer == false %}
                                        <a href="/account/login" class="nav-link d-none d-lg-block" title="Login">
                                            <div class="d-inline">
                                                <i data-feather="user" class="nav-icons" height="20" width="20"></i>
                                            </div>
                                        </a>
                                        {% else %}
                                            <div class="dropdown account-menu d-none d-lg-block">
                                                <a class="nav-link btn dropdown-toggle" href="#" role="button" id="dropdownAccountMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <div class="d-inline">
                                                        <i data-feather="user" class="nav-icons" height="20" width="20"></i>
                                                    </div>
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownAccountMenuButton">
                                                    <a class="dropdown-item" href="/account">Account</a>
                                                    <a class="dropdown-item" href="/account/orders">Orders</a>
                                                    <a class="dropdown-item" href="/account/logout">Logout</a>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                    <a href="/cart" title="Cart">
                                        <div class="cart">
                                            <i data-feather="shopping-cart" class="nav-icons" height="20" width="20"></i>
                                            {% if cart.item_count > 0 and cart.item_count < 10 %}
                                                <div class="cart-badge">{{ cart.item_count }}</div>
                                            {% endif %}
                                            {% if cart.item_count > 10 %}
                                                <div class="cart-badge">9<sup>+</sup></div>
                                            {% endif %}
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </section>
                <div class="modal pr-0" id="modalSearch" tabindex="-1" role="dialog" aria-labelledby="seachModalLabel" aria-hidden="true">
                    <div class="modal-dialog mw-100 my-0">
                        <div class="modal-content rounded-0">
                            <div class="modal-body search-modal-body">
                                <div class="input-group input-search-section">
                                    <div class="position-relative w-100">
                                        <input class="input-search-products form-control py-2" type="search" placeholder="Search" value="" id="products-search-input">
                                    </div>
                                    <div class="button-search py-1 px-2">
                                        <a href="" id="buttonSearch">
                                            <i data-feather="search" class="nav-icons" height="20" width="20"></i>
                                        </a>
                                    </div>
                                </div>
                                <button type="button" class="close pr-0 pl-2 pt-1 pr-md-2" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>                
                </div>
            {% endif %}
        {% endif %}
    {% else %}
        {% if settings.options.header_type %}
            <section class="header{% if settings.images.header_logo is empty %} header-store-name{% endif %}">
            <div class="container">
                <nav class="navbar {% if attribute(menus, settings.options.main_menu_handle).links| length < 10 %}navbar-expand-lg{% endif %} navbar-light p-0">
                    <div class="d-flex flex-grow-1 align-items-center">
                        <div class="nav-collapse-icon {% if attribute(menus, settings.options.main_menu_handle).links| length < 10 %}d-lg-none{% else %} w-20  d-block{% endif %}">
                            <button class="navbar-toggler custom-toggler collapsed" type="button" data-toggle="collapse" data-target="#myNavbar">
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                            </button>
                        </div>
                        <div class="navbar-brand nav-logo-icon{% if attribute(menus, settings.options.main_menu_handle).links| length < 10 %} text-center{% else %} w-60 text-center pr-0{% endif %} mx-0">
                            <a href="/" title="{{ store.name }}">
                                {% if settings.images.header_logo is empty %}
                                    {{ store.name }}
                                {% else %}
                                    <img style="max-width: {{ settings.options.logo_size }}" src="{{ settings.images.header_logo | product_image_size('medium') }}">
                                {% endif %}
                            </a>
                        </div>
                        <div class="nav-search-cart-icon {% if attribute(menus, settings.options.main_menu_handle).links| length < 10 %}d-lg-none{% else %} d-block w-20 text-right{% endif %}">

                            {% if settings.options.search_menu == true %}
                            <a id="searchIconModalCollapse" class="search-icon-modal" title="Search" data-toggle="modal" data-target="#modalSearch" role="button">
                                <div class="search d-inline-block">
                                    <i data-feather="search" class="nav-icons" height="20" width="20"></i>
                                </div>
                            </a>
                            {% endif %}
                            <a href="/cart" title="Cart">
                                <div class="cart d-inline-block">
                                    <i data-feather="shopping-cart" class="nav-icons" height="20" width="20"></i>
                                    {% if cart.item_count > 0 and cart.item_count < 10 %}
                                        <div class="cart-badge">{{ cart.item_count }}</div>
                                    {% endif %}
                                    {% if cart.item_count > 10 %}
                                        <div class="cart-badge">9<sup>+</sup></div>
                                    {% endif %}
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse flex-grow-1 w-100{% if attribute(menus, settings.options.main_menu_handle).links| length > 10 %} padding-collapse{% endif %}" id="myNavbar">
                         <ul class="navbar-nav align-items-center flex-wrap {% if attribute(menus, settings.options.main_menu_handle).links| length < 10 %}{{ settings.options.main_menu_items_display }}{% else %} ml-0{% endif %}">
                            {% if attribute(menus, settings.options.main_menu_handle) %}
                                {% for index, link in attribute(menus, settings.options.main_menu_handle).links %}
                                    {%- set valid = true -%}
                                        {% if (link.url == '/account/logout' and customer == false) or (link.url == '/account/orders' and customer == false) or (link.url == '/account' and customer == false) or (link.url == '/account/login' and customer == true) %}
                                            {%- set valid = false -%}
                                        {% endif %}
                                    {% if (valid) and link.links | length == 0 %}
                                        <li class="nav-item{% if link.active %} active{% endif %}">
                                            <a class="nav-link" href="{{ link.url }}">
                                                <span class="text-wrap w-100">{{ link.title }}</span>
                                                {% if link.url == '/' %}
                                                    <span class="sr-only">(current)</span>
                                                {% endif %}
                                            </a>
                                        </li>
                                    {% elseif (valid) %}
                                        <li class="nav-item dropdown text-center dropdown-width">
                                            <a class="nav-link dropdown-toggle dropdown-width" id="menu_{{index}}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="text-wrap w-100">{{ link.title }}</span>
                                            </a>
                                            <div class="dropdown-menu p-0{% if attribute(menus, settings.options.main_menu_handle).links| length > 10 %} py-md-0{% else %} py-md-3{% endif %} rounded-0 border-0 text-center dropdown-width font-weight-normal" aria-labelledby="menu_{{index}}">
                                                {% for index2, subLink in link.links %}
                                                    {% if (valid) and subLink.links | length == 0 %}
                                                        <div class="dropdown-width px-4 px-md-0">
                                                             <a class="nav-link py-2 px-2 pl-md-3 dropdown-width dropdown-align{% if attribute(menus, settings.options.main_menu_handle).links| length > 10 %} text-center{% endif %}" href="{{ subLink.url }}">{{ subLink.title }}</a>
                                                        </div>
                                                    {% elseif (valid) %}
                                                        <div class="submenu dropdown dropdown-submenu px-4 px-md-0 dropdown-width">
                                                            <a class="nav-link dropdown-toggle py-2{% if attribute(menus, settings.options.main_menu_handle).links| length > 10 %} text-center{% endif %} px-2 pl-md-3 dropdown-width dropdown-align" id="menu2_{{index2}}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                {{ subLink.title }}
                                                            </a>
                                                            <div class="submenu dropdown-menu m-0 p-0 position-relative rounded-0 border-0 dropdown-width" aria-labelledby="menu2_{{index2}}">
                                                                {% for sub2Link in subLink.links %}
                                                                    {% if (valid) %}
                                                                        <a class="nav-link dropdown-item py-2 px-4 dropdown-width dropdown-align{% if attribute(menus, settings.options.main_menu_handle).links| length > 10 %} text-center dropdown-align-left{% else %} text-left{% endif %}" href="{{ sub2Link.url }}">{{ sub2Link.title }}</a>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% if settings.options.login_menu == true %}
                                {% if customer == false %}
                                <li class="nav-item d-lg-none">
                                    <a href="/account/login" title="Login" class="nav-link">
                                        <span class="text-wrap w-100">Log in</span>
                                    </a>
                                </li>
                                {% else %}
                                <li class="nav-item d-lg-none">
                                    <a class="nav-link" href="/account">
                                        <span class="text-wrap w-100">Account</span>
                                    </a>
                                </li>
                                <li class="nav-item d-lg-none">
                                    <a class="nav-link" href="/account/orders">
                                        <span class="text-wrap w-100">Orders</span>
                                    </a>
                                </li>
                                <li class="nav-item d-lg-none">
                                    <a class="nav-link" href="/account/logout">
                                        <span class="text-wrap w-100">Logout</span>
                                    </a>
                                </li>
                                {% endif %}
                            {% endif %}
                        </ul>
                        <div class="nav-search-cart-icon {% if attribute(menus, settings.options.main_menu_handle).links| length >= 10 %}d-none{% else %}d-none d-lg-flex{% endif %}">
                            {% if settings.options.search_menu == true %}
                            <a id="searchIconModal" class="nav-link" title="Search" data-toggle="modal" data-target="#modalSearch" role="button">
                                <div class="search d-inline">
                                    <i data-feather="search" class="nav-icons" height="20" width="20"></i>
                                </div>
                            </a>
                            {% endif %}
                            {% if settings.options.login_menu == true %}
                                {% if customer == false %}
                                <a href="/account/login" class="nav-link" title="Login">
                                    <div class="d-inline">
                                        <i data-feather="user" class="nav-icons" height="20" width="20"></i>
                                    </div>
                                </a>
                                {% else %}
                                <div class="dropdown account-menu">
                                    <a class="nav-link btn dropdown-toggle" href="#" role="button" id="dropdownAccountMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <div class="d-inline">
                                            <i data-feather="user" class="nav-icons" height="20" width="20"></i>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownAccountMenuButton">
                                        <a class="dropdown-item" href="/account">Account</a>
                                        <a class="dropdown-item" href="/account/orders">Orders</a>
                                        <a class="dropdown-item" href="/account/logout">Logout</a>
                                    </div>
                                </div>
                                {% endif %}
                            {% endif %}
                            <a href="/cart" title="Cart">
                                <div class="cart">
                                    <i data-feather="shopping-cart" class="nav-icons" height="20" width="20"></i>
                                    {% if cart.item_count > 0 and cart.item_count < 10 %}
                                        <div class="cart-badge">{{ cart.item_count }}</div>
                                    {% endif %}
                                    {% if cart.item_count > 10 %}
                                        <div class="cart-badge">9<sup>+</sup></div>
                                    {% endif %}
                                </div>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
            </section>
            <div class="modal pr-0" id="modalSearch" tabindex="-1" role="dialog" aria-labelledby="seachModalLabel" aria-hidden="true">
                <div class="modal-dialog mw-100 my-0">
                    <div class="modal-content rounded-0">
                        <div class="modal-body search-modal-body">
                            <div class="input-group input-search-section">
                                <div class="position-relative w-100">
                                    <input class="input-search-products form-control py-2" type="search" placeholder="Search" value="" id="products-search-input">
                                </div>
                                <div class="button-search py-1 px-2">
                                    <a href="" id="buttonSearch">
                                        <i data-feather="search" class="nav-icons" height="20" width="20"></i>
                                    </a>
                                </div>
                            </div>
                            <button type="button" class="close pr-0 pl-2 pt-1 pr-md-2" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>                
            </div>
        {% endif %}
    {% endif %}

    <!-- /.Header -->

    <!-- Homepage featured menu -->

    {% if page.template == 'home' %}

        {% if attribute(menus, settings.options.featured_menu_handle) %}

        <div class="container">

            <section class="featured-categories d-md-none">

            <ul class="row featured-categories-list no-gutters">

                {% for link in attribute(menus, settings.options.featured_menu_handle).links|slice(0, 2)  %}

                    <li class="col featured-categories-item{% if link.active %} active{% endif %}"><a href="{{ link.url }}" class="btn btn-dark btn-block">{{ link.title }}</a></li>

                {% endfor %}

            </ul>

            </section>

        </div>

        {% endif %}

    {% endif %}

    <!-- /.Featured menu -->

    <!-- Main content -->

        {{ content }}

        <!-- Simple pagination -->

    {% if page.template != 'home' %}

        {% if products.0.paginate.next and products.0.paginate.previous %}

            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-md-4 col-12 text-center mt-5 mb-5">

                        <a class="btn btn-sm btn-outline-dark prev-page paginate-btn" href="{{ products.0.paginate.previous }}"><i data-feather="arrow-left" height="14px" width="14px"></i> Previous</a>

                        <a class="btn btn-sm btn-outline-dark next-page paginate-btn" href="{{ products.0.paginate.next }}">Next <i data-feather="arrow-right" height="14px" width="14px"></i></a>

                    </div>
                </div>

            </div>

        {% elseif products.0.paginate.next or products.0.paginate.previous %}

            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-md-4 col-12 text-center mt-5 mb-5">

                        {% if products.0.paginate.previous %}
                        <a class="btn btn-sm btn-outline-dark default-page paginate-btn" href="{{ products.0.paginate.previous }}"><i data-feather="arrow-left" height="14px" width="14px"></i> Previous</a>
                        {% endif %}
                        {% if products.0.paginate.next %}
                        <a class="btn btn-sm btn-outline-dark default-page paginate-btn" href="{{ products.0.paginate.next }}">Next <i data-feather="arrow-right" height="14px" width="14px"></i></a>
                        {% endif %}

                    </div>
                </div>

            </div>

        {% endif %}

    {% endif %}

    <!-- /.Simple pagination -->

    <!-- /.Main content -->

    <!-- Footer -->

    <section class="footer {% if page.template == 'product' or page.template == 'cart' %}{% if settings.options.sticky_btn %}checkout-padding{% endif %}{% endif %}">

        <div class="container">

            <div class="row align-items-center">

                {% if settings.options.footer_menu or settings.options.social_media %}

                    <div class="col-12 text-center">

                        {% if settings.options.social_media %}

                            <ul class="footer-sc">

                                {% if settings.options.facebook %}

                                <li class="nav-item">
                                    <a href="{{ settings.options.facebook }}" target="_blank">
                                        <i data-feather="facebook" class="sc-feather"></i>
                                    </a>
                                </li>

                                {% endif %}

                                {% if settings.options.instagram %}

                                <li class="nav-item">
                                    <a href="{{ settings.options.instagram }}" target="_blank">
                                        <i data-feather="instagram" class="sc-feather"></i>
                                    </a>
                                </li>

                                {% endif %}

                                {% if settings.options.youtube %}

                                <li class="nav-item">
                                    <a href="{{ settings.options.youtube }}" target="_blank">
                                        <i data-feather="youtube" class="sc-feather"></i>
                                    </a>
                                </li>

                                {% endif %}

                                {% if settings.options.twitter %}

                                <li class="nav-item">
                                    <a href="{{ settings.options.twitter }}" target="_blank">
                                        <i data-feather="twitter" class="sc-feather"></i>
                                    </a>
                                </li>

                                {% endif %}
								
								{% if settings.options.tiktok %}

                                <li class="nav-item">
                                    <a href="{{ settings.options.tiktok }}" target="_blank">
                                       <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" role="img" viewBox="0 0 24 24" fill="currentColor" class="sc-feather"><path d="M12.525.02c1.31-.02 2.61-.01 3.91-.02.08 1.53.63 3.09 1.75 4.17 1.12 1.11 2.7 1.62 4.24 1.79v4.03c-1.44-.05-2.89-.35-4.2-.97-.57-.26-1.1-.59-1.62-.93-.01 2.92.01 5.84-.02 8.75-.08 1.4-.54 2.79-1.35 3.94-1.31 1.92-3.58 3.17-5.91 3.21-1.43.08-2.86-.31-4.08-1.03-2.02-1.19-3.44-3.37-3.65-5.71-.02-.5-.03-1-.01-1.49.18-1.9 1.12-3.72 2.58-4.96 1.66-1.44 3.98-2.13 6.15-1.72.02 1.48-.04 2.96-.04 4.44-.99-.32-2.15-.23-3.02.37-.63.41-1.11 1.04-1.36 1.75-.21.51-.15 1.07-.14 1.61.24 1.64 1.82 3.02 3.5 2.87 1.12-.01 2.19-.66 2.77-1.61.19-.33.4-.67.41-1.06.1-1.79.06-3.57.07-5.36.01-4.03-.01-8.05.02-12.07z"/></svg>
                                    </a>
                                </li>

                                {% endif %}

                            </ul>

                        {% endif %}

                        {% if settings.options.footer_menu %}

                            {% if attribute(menus, settings.options.footer_menu_handle) %}

                            <ul class="footer-nav">

                                {% for link in attribute(menus, settings.options.footer_menu_handle).links %}

                                    <li class="nav-item"><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>

                                {% endfor %}

                            </ul>

                            {% endif %}

                        {% endif %}

                    </div>

                {% endif %}

                {% if settings.options.footer_company_detail %}
                    <div class="col-12 text-center">

                        <p class="credit">{{ settings.options.footer_company_detail }}</p>

                    </div>
                {% endif %}

                <div class="col-12 text-center">

                    <p class="credit">© {{ 'now' | date('Y') }} {{ store.name }}. All rights reserved.</p>
                    <p class="powered">Powered by <a href="https://shoppego.com" rel="nofollow" target="_blank" title="Shoppego">Shoppego</a></p>

                </div>
            </div>
        </div>

    <!-- Whatsapp settings -->
    {% if settings.options.whatsapp_number %}

        {%- set whatsapp_product_text = settings.options.whatsapp_product_text -%}
        {%- set whatsapp_general_text = settings.options.whatsapp_general_text -%}

        {% set whatsapp_icon = '<svg id="whatsapp-icon" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24"><path d="M.057 24l1.687-6.163c-1.041-1.804-1.588-3.849-1.587-5.946.003-6.556 5.338-11.891 11.893-11.891 3.181.001 6.167 1.24 8.413 3.488 2.245 2.248 3.481 5.236 3.48 8.414-.003 6.557-5.338 11.892-11.893 11.892-1.99-.001-3.951-.5-5.688-1.448l-6.305 1.654zm6.597-3.807c1.676.995 3.276 1.591 5.392 1.592 5.448 0 9.886-4.434 9.889-9.885.002-5.462-4.415-9.89-9.881-9.892-5.452 0-9.887 4.434-9.889 9.884-.001 2.225.651 3.891 1.746 5.634l-.999 3.648 3.742-.981zm11.387-5.464c-.074-.124-.272-.198-.57-.347-.297-.149-1.758-.868-2.031-.967-.272-.099-.47-.149-.669.149-.198.297-.768.967-.941 1.165-.173.198-.347.223-.644.074-.297-.149-1.255-.462-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.297-.347.446-.521.151-.172.2-.296.3-.495.099-.198.05-.372-.025-.521-.075-.148-.669-1.611-.916-2.206-.242-.579-.487-.501-.669-.51l-.57-.01c-.198 0-.52.074-.792.372s-1.04 1.016-1.04 2.479 1.065 2.876 1.213 3.074c.149.198 2.095 3.2 5.076 4.487.709.306 1.263.489 1.694.626.712.226 1.36.194 1.872.118.571-.085 1.758-.719 2.006-1.413.248-.695.248-1.29.173-1.414z"/></svg>' %}

        <!-- Whatsapp button -->

        {% if page.template == 'home' %}

            <div class="whatsapp">
                <a href="https://wa.me/{{ settings.options.whatsapp_number }}?text={{ whatsapp_general_text }}" target="_blank" class="whatsapp-btn">{{ whatsapp_icon }}</a>
            </div>

        {% endif %}

        <!-- ./Whatsapp button -->

    {% endif %}

    <!-- /.Whatsapp settings -->

    </section>

    <!-- /.Footer -->

    <div class="social-proofs"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.7/jquery.timeago.min.js"></script>

    {{ js }}

    {% if settings.options.custom_js %}
    <!-- Themes Custom js -->
        {{ settings.options.custom_js }}
    <!-- /. Themes Custom js -->
    {% endif %}

    {% if page.metafields.builder.js %}
    <!-- Page builder js -->
    <script type="text/javascript">
        {{ page.metafields.builder.js }}
    </script>
    <!-- End of page builder js -->
    {% endif %}

    {% if page.metafields.builder.css %}
    <!-- Page builder styling -->
    <style type="text/css">
        {{ page.metafields.builder.css }}

        #u_body .container, .footer .container, .announcement-bar .container, .header .container {
            padding: 0 15px;
        }

        .header a {
            text-decoration: none;
        }

        .footer a, a.product-link{
            color: {{ settings.colors.primary_colour }};
            text-decoration: none;
        }

        .header a:hover, .header a:focus {
            text-decoration: none;
        }

        .footer a:hover, .footer a:focus, a.product-link:hover, a.product-link:focus{
            color: {{ settings.colors.secondary_colour }};
            text-decoration: none;
        }
    </style>
    <!-- End of page builder styling -->
    {% endif %}

    <!-- Social proof styling -->

    {% if settings.options.checkout_type == "combo_checkout" or settings.options.checkout_type == "add_to_cart_checkout" or settings.options.checkout_type == "buy_now_checkout" %}

        {% if settings.options.whatsapp_number == true %}

            {%- set whatsapp_sticky = 1 %}

        {% endif %}

    {% endif %}

    {% if page.template == 'product' %}

        {% if settings.options.sticky_btn %}

            {% if whatsapp_sticky == 1 %}

                <style type="text/css">

                @media (max-width: 576px) {

                    .footer {
                        padding-bottom: 12em !important;
                    }

                    @keyframes slideIn {
                        0% {
                            transform: translateY(100%);
                            opacity: 0;
                        }
                        100% {
                            transform: translateY(-60%);
                            opacity: 1;
                        }
                    }

                }

                </style>

            {% else %}

                <style type="text/css">

                @media (max-width: 576px) {

                    .footer {
                        padding-bottom: 13em !important;
                    }

                    @keyframes slideIn {
                        0% {
                            transform: translateY(100%);
                            opacity: 0;
                        }
                        100% {
                            transform: translateY(-60%);
                            opacity: 1;
                        }
                    }

                }

                </style>

            {% endif %}

        {% else %}

            <style type="text/css">

            @media (max-width: 576px) {

                .footer {
                    padding-bottom:9em !important;
                }

            }

            </style>

        {% endif %}

    {% endif %}

    {% if page.template == 'cart' %}

        <style type="text/css">

        @media (max-width: 576px) {

            .footer {
                padding-bottom: 9em !important;
            }

            {% if settings.options.sticky_btn %}
            @keyframes slideIn {
                0% {
                    transform: translateY(100%);
                    opacity: 0;
                }
                100% {
                    transform: translateY(-60%);
                    opacity: 1;
                }
            }
            {% endif %}

        }

        </style>

    {% endif %}

    <!-- /.Social proof styling -->

    <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "aecf724216724271b6e368efb7fa20aa"}'></script><!-- End Cloudflare Web Analytics -->

</body>
</html>