<!-- Page template -->

{% if page.metafields.builder.json == true %}

    <div class="page-builder">
        {{ page.body }}
    </div>

{% else %}

    <div class="container">

        <section class="page">

            <div class="row" style="min-height:80vh">

                <div class="col-12">
                    {% if settings.options.pages_title %}
    				    <h1 class="section-title text-center">{{ page.title }}</h1>
    				{% endif %}
        			<div class="page-body {% if settings.options.pages_title == false %}mt-3{% endif %}">
        			    {{ page.body }}
        			</div>
                </div>

            </div>

        </section>

    </div>

{% endif %}
