<!-- Products template -->

<div class="container">

    <section class="products">

        <div class="row">
            <div class="col-12 text-center">
                <h1 class="section-title">
                    {{ title }}
                </h1>
            </div>
        </div>

        <div class="row px-2">

            <div class="col-12 text-center mb-4 d-none" id="searchResult">
				<p class="text-muted">{{ products | length }} results for <span id="searchValueProducts"></span> </p>
            </div>

            <!-- Homepage featured products -->

                <!-- All Products -->
                {% for product in products %}

                    <div class="{{ settings.options.mobile_grid_column }} {{ settings.options.grid_column }} p-2">

                        {% if product.available %}

                            <a href="{{ product.url }}" title="{{ product.name | escape }}">

                                <div class="product-image">

                                    {% if product.metafields.label.custom %}

                                    <span class="custom-label badge badge-primary">{{ product.metafields.label.custom }}</span>

                                    {% endif %}

                                    {% if product.featured_image %}

                                        {% if settings.options.hd_featured_image %}

                                        <img width="100%" src="{{ product.featured_image | product_image_size('large') }}" alt="{{ product.name }}">

                                        {% else %}

                                        <img width="100%" src="{{ product.featured_image | product_image_size('medium') }}" alt="{{ product.name }}">

                                        {% endif %}

                                    {% else %}

                                        {{ 'image' | placeholder_svg_tag }}

                                    {% endif %}

                                </div>

                            </a>

                        {% else %}

                            <a href="{{ product.url }}" title="{{ product.name | escape }}">

                                <div class="product-image sold-out">

                                    <div class="sold-out-badge"><p>Sold out</p></div>

                                    {% if product.featured_image %}

                                       {% if settings.options.hd_featured_image %}

                                        <img width="100%" src="{{ product.featured_image | product_image_size('large') }}" alt="{{ product.name }}">

                                        {% else %}

                                        <img width="100%" src="{{ product.featured_image | product_image_size('medium') }}" alt="{{ product.name }}">

                                        {% endif %}

                                    {% else %}

                                        {{ 'image' | placeholder_svg_tag }}

                                    {% endif %}

                                </div>

                            </a>

                        {% endif %}

                        <div class="product-info {{ settings.options.alignment }}">

                            <a href="{{ product.url }}" title="{{ product.name | escape }}">

                            <h3>{{ product.name | escape }}</h3>

                            {% if product.selected_or_first_available_variant.compare_at_price %}

                                <span class="discount-price">{{ product.selected_or_first_available_variant.compare_at_price | money }}</span>

                            {% endif %}

                            {% if product.price_varies %}

                                <span class="price">{% if product.price == "0.00" and settings.options.display_product_price_to_free == true %}Free{% else %}{{ product.price | money }}<sup>+</sup>{% endif %}</span>

                            {% else %}

                                <span class="price">{% if product.price == "0.00" and settings.options.display_product_price_to_free == true %}Free{% else %}{{ product.price | money }}{% endif %}</span>

                            {% endif %}

                            </a>

                        </div>

                    </div>

                {% endfor %}
                <!-- /.All Products -->

            <!-- /.Homepage featured products -->

        </div>

    </section>
</div>