/***

Theme Name : Hartamas
Theme Description : General catalogue store
Theme Author : Lutfi Azhar
Updated By: Amirul Amri
Version : 1.23.2
Last update : 06 March 2025

***/

/* Library import */

@import url(https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css);

/* Reset */

@media (min-width: 576px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}

@media (min-width: 960px) {
    .container {
        width: 960px !important;
    }
}

body, html {
    height: 100%;
    width: 100%;
}

body {
    color: {{ settings.colors.primary_text_colour }};
    background: {{ settings.colors.body_background_colour }};
    scroll-behavior: smooth;
}

/* Default theme settings */

a {
    color: {{ settings.colors.primary_colour }};
}

a:hover, a:focus {
    color: {{ settings.colors.secondary_colour }};
    text-decoration: none;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    display: block;
    font-weight: 400;
    margin: 0 0 0.5em;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
}

.w-20 {
	width: 20%!important;
}

.w-60 {
	width: 60%!important;
}

.dropdown-width {
    width: auto;
}

/*

.btn {
    font-weight: 400;
    font-style: normal;
    padding: 12px 20px;
    font-size: 0.8125em;
}

*/

.featured-categories .btn, .form-button .btn, .upsell-section .btn, .sticky-checkout .btn, .cart-action .btn {
    font-weight: 400;
    font-style: normal;
    padding: 12px 20px;
    font-size: 0.8125em;
}

/* Empty state */

svg.placeholder-svg {
    border:1px solid #eee;
}

/* Header */

.header {
    padding: 1.25rem 0;
    border-bottom: 1px solid {{ settings.colors.header_border_colour }};
    background-color: {{ settings.colors.header_background_colour }};
}

.header-store-name {
    padding: 1rem 0;
}

.header a {
    color: {{ settings.colors.menu_colour }};
}

.logo h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: .5rem;
    margin-bottom: 0;
    padding-left: 0;
}

.logo a:hover {
    text-decoration: none;
}

.nav {
    float: right;
}

.navbar-brand {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 1.25rem;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 1.5px;
}

a.navbar-brand {
    text-transform: uppercase;
    padding: 0;
    color: {{ settings.colors.menu_colour }} !important;
}

.navbar-brand img {
    max-height: 170px;
}

.navbar-toggler{
    width: 47px;
    height: 25px;
    border: 0;
    margin-left: -10px;
}

.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 3px;
    background-color: {{ settings.colors.menu_colour }};
    margin-bottom: 5px;
}

.header .padding-collapse {
    padding-top: 1.25rem;
}

.header-store-name .padding-collapse {
    padding-top: 1rem;
}

:not(.navbar-expand-lg) > .navbar-collapse .nav-item:first-child .nav-link:first-child {
    padding-top: 0;
}

:not(.navbar-expand-lg) > .navbar-collapse .nav-item:last-child .nav-link:last-child {
    padding-bottom: 0;
}

/* .navbar-expand-lg .navbar-collapse .nav-item:first-child .nav-link:first-child {
    padding-top: 0.5rem;
}

.navbar-expand-lg .navbar-collapse .nav-item:last-child .nav-link:last-child {
    padding-bottom: 0.5rem;
} */

a#searchIconModal.nav-link {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* Dropdown */

#myNavbar .dropdown-menu {
    max-width: 187px;
    font-size: 14px;
    color: {{ settings.colors.menu_colour }};
    background-color: {{ settings.colors.header_background_colour }};
    margin-top: 0;
}

#myNavbar .dropdown-item:hover {
    background-color: transparent;
}

#myNavbar .dropdown-menu .dropdown-toggle {
    white-space: normal;
}

#myNavbar .dropdown-toggle[aria-expanded="false"]:after {
    transform: rotate(-90deg);
}

#myNavbar .dropdown-toggle[aria-expanded="true"]:after {
    transform: rotate(0deg);
}

#myNavbar .submenu.dropdown-menu {
    margin-left: 5px !important;
    border-left: 1px solid {{ settings.colors.header_border_colour }} !important;
}

.dropdown-align, .dropdown-align-left {
    text-align: left;
}

/* Account menu */

.dropdown.account-menu:hover .dropdown-menu {
    display: block;
}

/* Announcement bar */

.announcement-bar {
    padding: 0.5em 0;
    font-size: 14px;
    background: {{ settings.colors.announcement_bar_bg_colour }};
    color: {{ settings.colors.announcement_bar_text_colour }};
}

.announcement-bar a {
    color: {{ settings.colors.announcement_bar_text_colour }};
}

.announcement-bar a:hover {
    text-decoration: none;
}

.announcement-bar p{
    margin-bottom:0;
    font-weight: bold;
}

.announcement-bar .btn.btn-dark {
    padding: 5px 10px;
    background: {{ settings.colors.announcement_bar_btn_colour }};
    color: {{ settings.colors.announcement_bar_btn_text_colour }};
    border-color: {{ settings.colors.announcement_bar_btn_colour }};
    margin-left: 1em;
    font-size: 12px;
}

/* Top nav */

.card.card-body.top-menu {
    border: 0 solid #eee;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

ul.navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-nav li {
    text-align: center;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0;
    text-transform: capitalize;
    color: {{ settings.colors.primary_text_colour }} !important;
}

.navbar-light .navbar-nav a:hover {
    text-decoration: none;
    color: {{ settings.colors.primary_colour }} !important;
}

.navbar-light .navbar-nav .nav-link {
    color: {{ settings.colors.menu_colour }} !important;
}

li.nav-item.active a {
    color: {{ settings.colors.primary_colour }} !important;
}

/* Cart icon */

.cart {
    position: relative;
    padding: .5rem 0.5rem;
    padding-right: 0;
}

.cart-badge {
    position: absolute;
    right: -8px;
    top: 2px;
    padding: .5em;
    border-radius: 1000px;
    font-size: 10px;
    line-height: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    margin: 0;
    background: {{ settings.colors.primary_colour }};
    color: {{ settings.colors.primary_btn_text_colour }};
}

/* Search icon */

.search {
    position: relative;
    padding: .5rem 0;
}

a#buttonSearch {
	color: {{ settings.colors.menu_colour }} !important;
}

.button-search {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
}

#products-search-input::placeholder {
  color: {{ settings.colors.menu_colour }} !important;
  opacity: 1;
}

#products-search-input:-ms-input-placeholde {
  color: {{ settings.colors.menu_colour }} !important;
}

#products-search-input::-ms-input-placeholder {
  color: {{ settings.colors.menu_colour }} !important;
}

.modal-open {
    padding-right: 0 !important;
}

.search-modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

#modalSearch .modal-content {
    flex-direction: row;
    -ms-flex-direction: row;
}

#modalSearch .input-search-section {
    max-width: 700px;
}

#modalSearch button.close span {
    font-size: 2.5rem;
    line-height: 0;
}

/* Upsell cart */

.upsell-section {
    margin: 2em 0;
}

.upsell-section a {
    color: {{ settings.colors.primary_text_colour }};
}

.upsell-section a.view-product-link {
    text-align: center;
    font-size: 12px;
    margin: 0 auto;
    display: block;
    text-decoration: underline;
    margin-top: 1em;
    color: #888;
}

.upsell-section h4 {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1em;
}

.upsell-section hr {
    width: 15%;
    border: 1px solid #cecece;
    margin: 1.5em auto;
}

.upsell-section p.upsell-price {
    color: red;
}

/* Featured categories mobile only */

ul.featured-categories-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

li.featured-categories-item .btn.btn-dark {
    border: {{ settings.colors.primary_colour }};
    background: {{ settings.colors.primary_colour }};
    color: {{ settings.colors.primary_btn_text_colour }};
}

li.featured-categories-item:last-child {
    padding-left: 5px;
}
li.featured-categories-item:first-child {
    padding-right: 5px;
}

li.featured-categories-item.active .btn {
    background: #ccc;
    border: #ccc;
    color: #fff;
}

/* Slideshow */

#homepage-slideshow .carousel-indicators li {
    background-color: #cecece;
}

#homepage-slideshow .carousel-indicators li {
    background-color: #cecece;
}

#homepage-slideshow .carousel-indicators li.active {
    background-color: #000;
}

.carousel .carousel-indicators li {
    width: .625rem;
    height: .625rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}

.carousel-indicators {
    right: 30px;
    left: unset;
    margin-right: 0;
    margin-left: 0;
}

/* Homepage banner */

.featured-banner{
    margin-bottom: 1.5em;
}

.large-banner {
    margin-bottom: 1.5em;
}

.featured-banner img {
    border-radius: 4px;
}

/* Sections */

section.product {
    margin-top: 2em;
    min-height: 80vh;
}

section.products {
    min-height: 80vh;
}

section.home {
    min-height: 83vh;
    margin-top: 2em;
}

h1.section-title, h2.section-title{
    font-size: 24px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.featured-categories {
    margin-top: 1em;
}

/* Pages */

.page-body img, .page-body iframe, .page-body svg {
    max-width: 100%;
}

.page-builder iframe {
    max-width: 100%;
}

/* Products grid */

.product-image {
    position: relative;
    width: 100%;
}

.product-image img {
    width: 100%;
    border-radius: 4px;
}

.product-image.sold-out img {
    opacity: 0.5;
}

span.product-fixed-quantity {
    font-size: 0.8571428571em;
    font-weight: 500;
    line-height: 2.15em;
    white-space: nowrap;
    text-align: center;
    border-radius: 1.75em;
    background-color: #000;
    opacity: 0.8;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 2.15em;
    height: 2.15em;
    padding: 0 0.5833333333em;
    position: absolute;
    right: 0;
    top: -10px;
    z-index: 3;
}

.bundle-thumbnail {
    width: 100px;
    height: 100px;
    border: 1px solid #f1f1f1;
}

.product-info {
    padding-top: 20px;
    padding-bottom: 20px;
}

.product-info h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 0;
    text-transform : capitalize;
    color: {{ settings.colors.primary_text_colour }};
}

.product-info a:hover {
    color: #444;
    text-decoration: none;
}

.product-details .price span {
    margin-right: 5px;
}

span.price {
    color: {{ settings.colors.primary_colour }};
}

span.discount-price {
    color: #000;
    opacity: 0.54;
}

.product-info span.product-price {
    font-size: 14px;
}

p.atome-price {
    font-size: 12px;
}

p.atome-price img {
    padding-bottom: 2px;
}

span.custom-label.badge.badge-primary {
    right: 0;
    position: absolute;
    margin-top: .5em;
    margin-right: .5em;
    font-size: 10px;
    border-radius: 4px;
    padding: .5em .8em;
    font-weight: 600;
    text-transform: uppercase;
    background-color: {{ settings.colors.label_colour }};
    color: {{ settings.colors.primary_btn_text_colour }};
}

.sold-out-badge {
    display: table;
    position: absolute;
    border-radius: 50%;
    padding: 1em;
    margin: 0;
    color: {{ settings.colors.primary_btn_text_colour }};
    background: {{ settings.colors.label_colour }};
    width: 60px;
    height: 60px;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
    font-weight: bold;
    text-align: center;
    font-size: 0.85714em;
    line-height: 1.1;
    z-index: 10;
}

.sold-out-badge p {
    font-size: 12px;
    text-align: center;
    margin: 0;
    line-height: initial;
    text-transform: uppercase;
    display: table-cell;
    vertical-align: middle;
}

/* Pagination */

.default-page {
    width: 120px;
    padding: 0.7em 0;
}

.next-page {
    width: 120px;
    padding: 0.7em 0;
}

.prev-page {
    width: 120px;
    padding: 0.7em 0;
}

/* Single product & Bundle product */

.product {
    padding-bottom: 5rem;
}

h2.store-name {
    text-transform: uppercase;
    margin-top: 2em;
    letter-spacing: 0.2em;
    font-size: 0.75em;
}

.product .title {
    font-size: 24px;
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: .5em;
}

ul.product-bundle {
    margin: 0;
    padding: 0;
}

li.bundle-items {
    list-style: none;
    padding: 1em;
    border-bottom: 1px solid #eee;
}

li.bundle-items:last-child {
    border-bottom: none;
}

.bundle-title-name h3 {
    font-size: 16px;
}

span.option-name, span.wholesale-title {
    color: {{ settings.colors.secondary_text_colour }};
    font-size: 14px;
    margin-bottom: 0.5em;
    width: 100%;
    display: block;
}

span.product-price {
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.7em;
    font-weight: 700;
    display: inline-block;
}

.product-details span.product-price, .product-details span.product-price-single {
    color: {{ settings.colors.primary_colour }};
}

span.bundle-price, span.bundle-price-single {
    color: {{ settings.colors.primary_text_colour }};
}

span.discount-price-single{
    font-size: 1.125em;
}

span.discount-price, span.discount-price-single, span.bundle-discount-price, span.bundle-discount-price-single {
    text-decoration: line-through;
}

.product .compare-price {
    display: inline;
    font-size: 19px;
    text-decoration: line-through;
}

hr.hr-separator{
    border-top: solid #eee;
    border-width: 1px 0 0 0;
    margin: 20px auto;
}

.wholesale-table .table {
    font-size: 14px;
    margin-bottom: 8px;
    color: {{ settings.colors.secondary_text_colour }};
    border-collapse: collapse;
}

.wholesale-table thead {
    color: {{ settings.colors.secondary_text_colour }};
}

.wholesale-table .table td, .wholesale-table .table th {
    vertical-align: middle;
    border: 1px solid {{ settings.colors.secondary_text_colour }};
}

.wholesale-table .table td {
    width: 30%;
    padding: 0.5rem;
}

.guarantee ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.guarantee li {
    color: {{ settings.colors.secondary_text_colour }};
    margin-bottom: .5em;
    font-size: 14px;
}

.guarantee li svg {
    margin-right: .5em;
}

.bundle-availability span.out-of-stock {
    font-size: 16px;
    margin-top: 0.5em;
}

/* Buttons */

/* Search Textbox */

#collapseSearch {
	border-bottom: 1px solid #f1f1f1;
}

#collapseSearch .row {
	padding-top: 10px;
	padding-bottom: 10px;
}

.button-search-section {
    background-color: #fff;
    padding: 5px 15px;
}

.input-search-products {
	border: 1px solid #ccc;
	border-radius: 0px;
    padding-right: 35px;
}

.input-search-products:focus {
	box-shadow: none;
}

.form-button .btn.btn-dark {
    background-color: {{ settings.colors.primary_colour }};
    color: {{ settings.colors.primary_btn_text_colour }};
    border-color: {{ settings.colors.primary_border_colour }};
}

.form-button .btn.btn-outline-dark {
    background-color: {{ settings.colors.secondary_colour }};
    color: {{ settings.colors.secondary_btn_text_colour }};
    border-color: {{ settings.colors.secondary_border_colour }};
}

.form-button .btn.btn-dark:hover:enabled, .form-button .btn.btn-outline-dark:hover:enabled, .upsell-section .btn.btn-dark:hover:enabled, .upsell-section .btn.btn-dark:hover:enabled {
    opacity: 0.9;
}

.description{
    margin-top: 2em;
    text-align: left;
}

.description img {
    border-radius: 4px;
}

.description img, .description iframe {
    max-width: 100%;
}

.description p {
    font-size: 14px;
    line-height: 24px;
    color: {{ settings.colors.primary_text_colour }};
}

.description .table.table-bordered {
    font-size: 12px;
    color: {{ settings.colors.primary_text_colour }};
}

.description table th, .description table td {
    border: 1px solid #dee2e6;
    padding: .75rem;
    vertical-align: top;
}

.description table {
    border: 1px solid #dee2e6;
    max-width: 100%;
    width: 100%;
    margin-bottom: 1em;
}

.description ul {
    padding-left: 2em;
    font-size: 14px;
}

.description ol {
    padding-left: 1.7em;
    font-size: 14px;
}

.description ol li {
    padding-left: .4em;
}

.form-button.sticky {
    display: block;
}

/* Image gallery */

.image_wrapper img, .carousel-item img, .carousel-thumbnails li img {
    border-radius: 4px;
}

.bundle-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.carousel-thumbnails li img {
    width: 100%;
	height: 100%;
    object-fit: contain;
    object-position: center;
}

.carousel-thumbnails li:last-child {
    margin-right: 0em;
}

ol.carousel-thumbnails {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 1em;
    text-align: left;
}

.carousel-thumbnails li {
	width: 65px;
    height: 65px;
    padding: 0;
    display: inline-block;
    margin-right: .78em;
    margin-bottom: .78em;
    cursor: pointer;
}

/* Custom radio button */

.box-radio-option {
    border: 0;
    padding-top: 0;
    position: relative;
}

.box-radio-option input {
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    position: absolute;
    height: 50px;
    width: 1px;
}

.box-radio-option input[type="radio"] {
    -webkit-appearance: radio;
    -moz-appearance: radio;
}

.box-radio-option input[type="checkbox"], .box-radio-option input[type="radio"] {
    margin: 0 10px 0 0;
    padding: 0;
    width: auto;
}

.box-radio-option input[type="date"], .box-radio-option input[type="text"], .box-radio-option input[type="datetime-local"] {
    position: unset;
    overflow: unset;
    height: auto;
    width: 100%;
}

.box-radio-option input[type='radio']:checked+label {
    border-color: {{ settings.colors.primary_colour }};
    color: {{ settings.colors.primary_colour }};
}

.box-radio-option label {
    padding: .75rem;
    line-height: 1;
    margin: 0 4px 8px 0;
    font-weight: 400;
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-style: normal;
    border: 1px solid #eee;
    min-width: 5rem;
    text-align: center;
    color: #222323;
    border-radius: 4px;
}

.box-radio-option label.disabled:before {
    position: absolute;
    content: "";
    left: 50%;
    top: 0;
    bottom: 0;
    border-left: 1px solid;
    border-color: #cecece;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.box-radio-option label.disabled {
    color: #cecece;
}

label[for] {
    cursor: pointer;
}

.select-option {
    margin-bottom: 1em;
}

.select-option.form-control {
    height: calc(2em + .75rem + 2px);
}

.select-option label {
    padding: 0 0 0 5px;
    margin: 1.5em 0 1em 0;
    width: 100%;
    border: none;
    text-align: left;
}

/* Custom swatch */
.swatch-option-selector {
	margin: 0;
    padding: 0;
}

.swatch-label {
	padding: 0 !important;
    min-width: 1rem !important;
    border: none !important;
}

.swatch-label.swatch-active {
	border: 1px solid #ee4d2d !important;
	border-radius: 50% !important
}

.swatch-inner-wrapper {
	display: flex;
	padding: 2px;
}

.swatch-bg-holder {
	width: 30px;
	height: 30px;
	display: inline-block;
	border-radius: 50%;
	padding: 2px;
}
/* End custom swatch */

/* Error */

.error{
	display: block
}

.error_show{
	background-color: rgba(255, 0, 0, 0.1);
	border: 1px solid #ff7a7a;
	padding: 10px 35px 15px 20px;
	border-radius: 4px;
}

/* End of Error */

/* Quantity selector */

.product-quantity-input, .bundle-quantity-input {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.product-quantity-button, .bundle-quantity-button {
    outline: none;
    cursor: pointer;
    border: none;
    font-size: .875rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: background-color .1s cubic-bezier(.4,0,.6,1);
    transition: background-color .1s cubic-bezier(.4,0,.6,1);
    border: 1px solid rgba(0,0,0,.09);
    border-radius: 2px;
    background: transparent;
    color: rgba(0,0,0,.8);
    width: 32px;
    height: 32px;
}

.product-quantity-form, .bundle-quantity-form {
    width: 50px !important;
    height: 32px !important;
    position: unset !important;
    border-left: none;
    border-right: none;
    font-size: 16px;
    font-weight: 400;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    cursor: text;
    border-radius: 0;
    -webkit-appearance: none;
}

.product-quantity-button:first-child, .bundle-quantity-button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.product-quantity-button:nth-last-child(2), .bundle-quantity-button:nth-last-child(2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.product-quantity-button:last-child, .bundle-quantity-button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#bundles .bundle-quantity , #bundles .bundle-quantity-button.disabled {
    background-color: #e9ecef;
    opacity: 1;
}

.stock-quantity {
    margin-left: 1em;
    font-size: 12px;
    color: #888;
}

/* Product rating */

section.product-ratings {
    padding-bottom: 5rem;
}

.product-ratings .list-group .product-rating:nth-child(1):not(:last-child) {
    padding-bottom: 2em;
}

.product-ratings .list-group .product-rating:not(:nth-child(1)) {
    padding-top: 2em;
    padding-bottom: 2em;
}

.product-ratings .list-group .list-group-item {
    border: none;
}

.product-ratings .list-group .product-rating:not(:last-child) {
    border-bottom: 1px solid #f1f1f1;
}

.customer-name {
    margin-bottom: 0;
    font-size: 14px;
}

.customer-name .check-circle {
    color: #28a745;
}

.customer-review-date {
    font-size: 14px;
}

.product-rating .customer-rating {
    font-size: 14px;
    color: {{ settings.colors.primary_colour }};
}

.customer-rating .star-given {
    fill: {{ settings.colors.primary_colour }};
}

.customer-text {
    margin-top: .5rem;
}

/* --- */

.form-button {
    margin-top: 1em;
}

.product-excerpt {
    margin-top: 1em;
}

/* Cart page */

section.cart-page {
    margin-bottom: 2em;
    min-height: 78vh;
}
.cart .table img {
    width: 50px;
}

table.cart-table.table-sm td, table.cart-table.table-sm th {
    padding: 1rem 0.3rem;
}

table.cart-table .form-group, table.cart-table {
    margin-bottom: 0;
}

table.table.cart-table td {
    vertical-align: middle;
}

.cart td input {
    width: 50px;
    text-align: right;
}

.form-control.cart-quantity-form {
    display: unset;
    margin: 0 auto;
    text-align: center;
}

a.cart-item {
    color: {{ settings.colors.primary_text_colour }};
}

a.cart-item:hover {
    color: {{ settings.colors.primary_colour }};
    text-decoration: underline;
}

.cart .trash {
    font-size: 16px;
}

.cart .trash:hover {
    text-decoration: none;
}

.cart-action .btn.btn-dark {
    background-color: {{ settings.colors.primary_colour }};
    color: {{ settings.colors.primary_btn_text_colour }};
    border-color: {{ settings.colors.primary_border_colour }};
}

.cart-action .btn.btn-outline-dark {
    background-color: {{ settings.colors.secondary_colour }};
    color: {{ settings.colors.secondary_btn_text_colour }};
    border-color: {{ settings.colors.secondary_border_colour }};
}

.cart-action .btn.btn-dark:hover {
    opacity: 0.9;
}

.cart-action .continue-cart {
    margin-right: 0.5em;
}

.cart-action .checkout-cart {
    margin-top: 0.8em;
}

p.shipping-instruction {
    padding: 0 2em;
    font-size: 14px;
}

a.continue-shopping {
    font-size: 14px;
    text-decoration: underline;
    font-style: italic;
}

label.cart-extra-info {
    font-size: 13px;
    margin: 0;
}

label.cart-extra-info-mobile {
    margin-bottom: 1.5em;
}

img.cart-list-thumbs {
    max-width: 60px;
    border-radius: 4px;
    margin-right: 1.5em;
}

.btn.btn-outline-dark {
    letter-spacing: 0;
}

.btn-delete-cart {
    float: left;
    width: fit-content;
    text-decoration: underline;
    font-style: italic;
    font-size: 14px;
}

.btn-checkout {
    background: {{ settings.colors.primary_colour }};
    color: {{ settings.colors.primary_btn_text_colour }};
}

.small-feather {
    width: 16px;
    height: 16px;
    padding-bottom: 3px;
}

section.cart-page table th {
    border-bottom: 0;
}

.cart-info {
    padding: 0;
    margin-bottom: 0em;
}

/* Cart empty state */

.empty-cart-list-thumbs {
    width: 60px;
}

/* Footer */

.footer {
    font-size: 0.8rem;
    border-top: 1px solid {{ settings.colors.footer_border_colour }};
    background: {{ settings.colors.footer_background_colour }};
    padding: 2em 0;
}

.footer p {
    margin-bottom: 0;
}

p.credit {
    display: inline-block;
}

p.powered {
    display: inline-block;
}

ul.payment-icons {
    list-style: none;
    margin: 0;
    padding: 0;
}

.payment-icons li {
    display: inline-block;
    margin-right: 2px;
}

/* Footer menu */

ul.footer-nav, ul.footer-sc {
    list-style: none;
    margin: 0;
    padding: 0 0 1em 0;
    text-align: center;
}

.footer-nav li, .footer-sc li {
    display: inline-block;
    margin-right: 1em;
    text-transform: uppercase;
}

.footer-nav li:last-child, .footer-sc li:last-child {
    margin-right: 0;
}

.footer-nav li a:hover {
    text-decoration: none;
}

.sc-feather {
    width: 18px;
    height: 18px;
}

/* 404 */

.huge {
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
}

/* Whatsapp */

.whatsapp {
    display: inline-block;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
}

.whatsapp-btn {
    background-color: #25d366;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
}

.whatsapp-btn svg {
    fill: #fff;
    width: 28px;
    height: 28px;
}

.whatsapp-btn:hover {
    background-color: #009839;
}

.whatsapp-btn:focus {
    background-color: #444;
    color:#fff;
}

/* Social proof */

.social-proofs {
    position: fixed;
    width: auto;
    bottom: 0;
    left: 0;
    z-index: 999;
}

.social-proof {
    margin-left: 1em;
    margin-bottom: 1em;
    background: #f9f9f9;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 5px 0 #f1f1f1;
    width: 280px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.social-proof .box-content {
    font-size: 12px;
}

.notification-content {
    flex: 1;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1.3em 0;
}

.social-proof .notification-close {
    align-self: start;
    margin-top: 5px;
    order: 2;
    padding: 10px 15px 10px 10px;
    z-index: 9;
}

.social-proof .notification-close:hover, .social-proof .notification-close:focus {
    cursor: pointer;
}

.notification-content a.product-link:hover, .notification-content a.product-link:focus {
    color: {{ settings.colors.primary_colour }};
}

.social-proof a.verified-link {
    color: #6c757d;
}

.social-proof a.verified-link:hover {
    text-decoration: underline;
}

.slide-in {
    animation: slideIn 1s forwards;
}

@keyframes slideIn {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 991px) {

	.nav-collapse-icon {
		width: 20%;
    }

	.nav-logo-icon {
        width: 60%;
		text-align: center;
	}

	.nav-search-cart-icon {
		width: 20%;
		text-align: right;
	}

    .navbar-collapse.show {
        right: 0;
    }

    .navbar-collapse .nav-item:first-child .nav-link:first-child {
        padding-top: 0;
    }

    .navbar-collapse .nav-item:last-child .nav-link:last-child {
        padding-bottom: 0;
    }

    /* homepage navbar */
    .navbar-bg {
        background-color: {{ settings.colors.navbar_bg }};
        opacity: 0.9;
    }

    #myNavbar .navbar-nav {
        margin-left: 0 !important;
    }

    .navbar-nav li {
        text-align: left;
    }

	#myNavbar .dropdown-menu {
        width: 100%;
        padding: 0 !important;
    }

}

/* Mobile css */

@media (max-width: 576px) {

    .header {
        margin-bottom: 0;
    }

	.nav-collapse-icon {
		width: 20%;
        line-height: 0;
    }

    .header .navbar-collapse {
        padding-top: 1.25rem;
    }

    .header-store-name .navbar-collapse {
        padding-top: 1rem;
    }

	.nav-logo-icon {
        width: 60%;
		text-align: center;
	}

    .navbar-brand {
        padding-right: 0px;
        white-space: normal;
    }

    .navbar-brand img {
        max-height:60px;
    }

	.nav-search-cart-icon {
		width: 20%;
		text-align: right;
	}

    /* Dropdown menu */
	
	#myNavbar .dropdown-menu {
        width: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
    }

    #myNavbar .submenu.dropdown-menu {
        margin-left: 100px !important;
    }

    .dropdown-align {
        text-align: center;
    }

    .dropdown-align-left {
        text-align: left !important;
    }

    .dropdown-width {
        width: 100%;
    }

	/* Search icon */

    .search {
		margin-top: -5px;
        padding: 0.5rem 0.5rem;
    }

    #modalSearch .modal-dialog {
        margin: 0
    }

    #modalSearch .input-search-section {
        max-width: 100%;
    }

    .products {
        margin-top: 0em;
    }

    .product .title {
        margin-top: 0;
    }

    h1.section-title, h2.section-title {
        margin-top: 1em;
    }

    section.home, section.product {
        margin-top: 0em;
    }

    section.home {
        margin-top: 1em;
    }

    section.related-products {
        padding: 0px 7px;
    }

    .carousel-item img, .image_wrapper img {
        border-radius: 0;
    }

    .product-details {
        padding: 20px 7px;
    }

    .product-details .price {
        padding: 0;
        background: none;
        margin-top: .5em;
    }

    .nav {
        display: none;
    }

    .bundle-thumbnail {
        width: 80px;
        height: 80px;
    }

    /* Cart */

    .cart {
        padding: 0;
		margin-top: -5px;
    }

    .cart-badge {
        top: -8px;
    }

    .cart-action .btn {
        width: 100%;
        margin-bottom: 1em;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }

    .top-menu {
        margin-bottom: 0;
    }

    .large-banner, .featured-banner {
        margin-bottom: 1em;
    }

    h2.section-title{
        margin-top: 1em;
        margin-bottom: 1em;
    }

    div#bundles .card-header p {
        font-size: 14px;
    }

    .product {
        padding-bottom: 0;
    }

    ol.carousel-thumbnails {
        padding: 0 20px;
    }

    .carousel-thumbnails li {
        width: 50px;
        height: 50px;
        margin-right: 0.78rem;
        margin-bottom: 0.78rem;
        border: none;
    }

	/* .carousel-thumbnails li:last-child {
	    margin-top: 1rem;
    } */

    .slider-wrapper{
        padding:0;
    }

    h1.title {
        margin-bottom: 0;
    }

    .product-card.flex-4, .product-card.flex-3, .product-card.flex-2 {
        flex: 1 44%;
        padding: 2%;
    }

    .checkout-padding {
        padding-bottom: 6em !important;
    }

    img.cart-list-thumbs {
        max-width: 40px;
        margin-right: 0;
    }

    .empty-cart-list-thumbs {
        width: 40px;
    }

    .btn-delete-cart {
        display: unset;
    }

    a.btn-box {
        width: 100%;
        margin-bottom: 1em;
    }

    table.table.cart-table td {
        vertical-align: top;
    }

    .cart-info {
        text-align: center;
        padding: 0;
    }

    .cart-action {
        font-size: 16px;
    }

    .cart-action .continue-cart {
        margin-right: 0;
    }

    .cart-action .checkout-cart {
        margin-top: 0;
		padding: 9px 10px;
    }

	.default-checkout button.checkout-cart {
		padding: 12px 20px;
	}

    .sticky-checkout {
        background: #fff;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 3;
        padding: 10px;
        border-top: 1px solid #eee;
    }

    .sticky-checkout .btn {
        margin-bottom: 0;
    }

    table.table.cart-table {
        margin-bottom: 0;
    }

    .form-control.cart-quantity-form {
        padding: 0;
        width: 50px;
        font-size: 12px;
    }

    .description {
        margin-top: 0;
    }

    .description p, .description ul, .description ol, .product-excerpt {
        font-size: 16px;
    }

    .footer {
        padding: 1em 0;
    }

    p.credit, p.powered {
        display: block;
        margin-bottom: 0;
    }

    hr.footer-hr {
        display:none;
    }

    .brd {
        border-right: 1px solid #f1f1f1;
    }

    .form-button.sticky {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 9999;
        padding: 0.5em;
        background: #f1f1f1;
        display: block;
        margin-top: 1em;
        margin-left: -22px;
    }

    .form-button.sticky .btn {
        padding: 0;
        border: none;
        height: 40px;
        border-radius: 0;
    }

    .form-button.sticky .btn.btn-outline-dark {
        background: {{ settings.colors.alternative_colour }};
        color: {{ settings.colors.alternative_text_colour }};
        font-size: 10px;
        text-transform: inherit;
        letter-spacing: 0;
        padding: 5px 0;
    }

    .form-button.sticky.default {
        padding: 10px;
        border-top: 1px solid #eee;
    }

    .form-button.sticky.default .btn {
        padding: 0;
        height: 40px;
        border-radius: 4px;
        font-size: 0.8125em;
    }

    .form-button.sticky.default .btn.btn-outline-dark {
        background-color: {{ settings.colors.secondary_colour }};
        color: {{ settings.colors.secondary_btn_text_colour }};
        border: 1px solid {{ settings.colors.secondary_border_colour }};
    }

    .form-button.sticky.default .btn.btn-dark {
        background: {{ settings.colors.primary_colour }};
        color: {{ settings.colors.primary_btn_text_colour }};
        border: 1px solid {{ settings.colors.primary_colour }};
    }

    .select-option label {
        font-size: 16px;
    }

    #whatsapp-icon, #a2c-icon {
        display: block;
        margin: 0 auto;
        margin-bottom: 2px;
    }

    #whatsapp-icon {
        fill: {{ settings.colors.alternative_text_colour }};
    }

    .whatsapp-mobile {
        margin-bottom: 2.5em;
    }

    span.product-price {
        font-size: 1.125rem;
    }

    .whatsapp-btn {
        width: 40px;
        height: 40px;
    }

    .whatsapp-btn svg {
        width: 22px;
        height: 22px;
    }

    p.option-name {
        margin-top: 3px;
        font-size: 16px;
    }

    .card.card-body.top-menu {
        border: 1px solid {{ settings.colors.header_border_colour }};
        padding: 1.25rem;
        margin-top: 1em;
    }

    .navbar-nav li {
        letter-spacing: 0.1em;
        text-transform: uppercase;
        text-align: center;
        padding: 0 10px;
    }

	.upsell-section {
        margin: 1em 0;
    }

	.prev-page {
        float: left;
        width: 49%;
	}

	.next-page {
        float: right;
        width: 49%;
	}

	/* Social proof */

    .social-proofs {
        width: 100%;
    }

	.social-proof {
        width: 100%;
        margin: 0;
        border-radius: 0;
        z-index: 3;
	}

	.social-proof .box-content {
        text-align: center;
	}
}

/* End of default theme settings */

/* Temporary Css */

#u_content_button_1 a:hover { color: #FFFFFF !important; background-color: #3AAEE0 !important; } #u_content_button_2 a:hover { color: #FFFFFF !important; background-color: #3AAEE0 !important; } #u_content_button_3 a:hover { color: #FFFFFF !important; background-color: #3AAEE0 !important; } #u_content_button_4 a:hover { color: #FFFFFF !important; background-color: #3AAEE0 !important; } #u_content_button_5 a:hover { color: #FFFFFF !important; background-color: #3AAEE0 !important; } #u_content_button_6 a:hover { color: #FFFFFF !important; background-color: #3AAEE0 !important; }
.u-row {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 0;
    margin-right: 0;
}

.u-row .u-col {
    position: relative;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.u-row .u-col.u-col-50 {
    flex: 0 0 50%;
    max-width: 50%;
}

.u-row .u-col.u-col-100 {
    flex: 0 0 100%;
    max-width: 100%;
}

@media (max-width: 767px) {
    .u-row:not(.no-stack) {
        flex-wrap: wrap;
    }

    .u-row:not(.no-stack) .u-col {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}

.layout-mobile {
    .u-row:not(.no-stack) {
        flex-wrap: wrap;
    }

    .u-row:not(.no-stack) .u-col {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}

/* End of Temporary Css */

/* Custom CSS */

{% if settings.options.custom_css %}

{{ settings.options.custom_css }}

{% endif %}

/* End of custom css */

/* Insert your custom css below */